<h1>Bookings</h1>



<p class="btn--wrapper">
  <a class="btn btn--action" href="/bookings/new">New booking</a>
</p>

<ul>
  <% for booking in @bookings %>
  <li>
  <p><%= booking.member.format_name %> is a member of <%= booking.session.session_name %> class 
      <form action="/bookings/<%= booking.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>
