input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Times New Roman', cursive;
}

select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 margin: 15px 0;
 font-size: 0.8em;
 -webkit-appearance: none;
 font-family: 'Times New Roman', serif;
 border: 1px solid #eee;
 display: block;
 
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.add_member {

}
