<h2>Create a new Class</h2>
<form method="POST" action="/sessions">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="session_name">Class Name:</label>
      <input type="text" name="session_name" id="session_name"/>
    </div>

    <div class="form-el">
      <label for="session_time">Class Time:</label>
      <input type="text" name="session_time" id="session_time"/>
    </div>

    <div class="form-el">
      <label for="capacity">Class Capacity:</label>
      <input type="text" name="capacity" id="capacity" />
    </div>
<br>
    <label>
    Select a Membership Type:
      <select class="" name="membership_type">
        <option value="Basic">Basic</option>
        <option value="Gold">Gold</option>
        <option value="Platinum">Platinum</option>
      </select>
    </label>


<br>
    Select Instructor:
    <select name="instructor_id">
      <% for instructor in @instructors %>
      <option value="<%= instructor.id %>"><%= instructor.name %></option>
      <% end %>
    </select>
  </label>

  <br>

   <div class="form-el">
      <input type="submit" value="Create Class"/>
    </div>

  </div>
</form>
