<h1>Class <%= @session.session_name %></h1>

<h3>Members:</h3>

<ul>
<% @session.member.each do |member| %>
<li><%= member.format_name %></li>
<% end %>
</ul>
<br>

<p>Membership Type: <%= @session.membership_type %></p>





<form action="/sessions/<%= @session.id %>/delete" method="POST">
  <input class="btn btn--action" type="submit" value="delete">
</form>
