<h1>Session <%= @session.session_name %></h1>

<p>Tier: <%= @session.tier %></p>

<h3>Members:</h3>

<ul>
  <% @session.member.each do |member| %>
  <li><%= member.first_name %></li>
  <% end %>
</ul>
