<h1>Instructors</h1>
<br>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Class instructor</th>
  </tr>
  <% for instructor in @instructors %>
  <tr>
    <td><a href="/instructors/<%= instructor.id %>"><%= instructor.name %></a></td>
    <td>|</td>
  <td><%= instructor.session_instructor %></td>
  </tr>
  <% end %>
</table>
<br>
<br>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/instructors/new">Add new instructor</a>
</p>
