<h1>New Instructor</h1>
<form method="POST" action="/instructors">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

  <br>
      <label>
        Select a Class:
          <select name="session_id">
            <% for session in @sessions %>
            <option value="<%= session.id %>"><%= session.session_name %></option>
            <% end %>
          </select>
        </label>



    <div class="form-el">
      <input class="btn btn--action"  type="submit" value="Add instructor"/>
    </div>

  </div>
</form>
