

<h1><%= @instructor.name %></h1>


<h3>Classes:</h3>
<%= @instructor.session_instructor %>

<br>
<br>
<form action="/instructors/<%= @instructor.id %>/edit" method="GET"><input type="submit" value="Edit"></form>


<form action="/instructors/<%= @instructor.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
