

<h1><%= @instructor.name %></h1>


<h3>Classes:</h3>
<%= @instructor.session_instructor %>

<br>
<br>
<form action="/instructors/<%= @instructor.id %>/edit" method="GET"><input class="btn btn--action" type="submit" value="Edit"></form>
<br>

<form action="/instructors/<%= @instructor.id %>/delete" method="POST"><input class="btn btn--action" type="submit" value="Delete"></form>
