

<h1><%= @instructor.name %> (Instructor)</h1>


<h2>Assigned to Class:</h2>
<br>
<h3><%= @instructor.session_instructor %></h3>

<br>
<br>
<form action="/instructors/<%= @instructor.id %>/edit" method="GET"><input class="btn btn--action" type="submit" value="Edit"></form>
<br>

<form action="/instructors/<%= @instructor.id %>/delete" method="POST"><input class="btn btn--action" type="submit" value="Delete"></form>
